.title{
    font-size: 30px;
    margin: 20px;
}
.add{
    padding: 5px 20px;
    color: bisque;
}
.todolist{
    height: auto;
    width: 500px;
    border: 2px solid black;
    border-radius: 20px;
    
}
.add-task input{
    width: 285px;
    height: 38px;
    border-radius: 5px;
    text-align: center;
}
.addbtn, .add-task {
    display: inline-block;
    margin: 10px;
}

.outer{
    margin: 30px;
    border: 1px solid black;
    height: 100px;
    border-radius: 20px;
}

.joblist{
    height: 100px;
    width: auto;
    margin: 0px 32px 0px 32px;
    border-radius: 5px;
} 
 .task-list ul li  {
    list-style: none;
}

.task-list ul li h4  {
    margin-left: 15px;
}
.task-button{
    margin: -32px 21px 17px 317px;
}